
input {
    margin: .4rem 0.4rem !important;
    font-size: 20px !important;
}

.overview{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
}

body{
    background: #dee2e6 !important;
}