
input {
    margin: .4rem 0.4rem !important;
    font-size: 20px !important;
}

.overview{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 1.25rem;
}

h1{
    text-align: center;
}

body{
    /* background: #dee2e6 !important; */
    background: url("https://previews.123rf.com/images/orathai007/orathai0071805/orathai007180500090/102157351-hand-drawn-of-biology-science-theory-doodle-set-and-tool-model-icon-vector-illustration-design-.jpg") no-repeat;
    background-size: cover;
}

.custom{
    display: flex;
    justify-content: center;
    align-items: center;
}