/* .container{
    display: flex;
} */
.image-fluid{
    height: 500px;
    width: 35%;
    background: url('https://media2.giphy.com/media/zMQve1zBszJ3Uqsbi2/giphy.gif') no-repeat left;
}
/* span{
    display: block;
} */
